<!-- Header -->
<div class="theme-header flex justify-between items-center p-3">
	<div class="user-info flex items-center gap-4">
		<!-- <img class="w-12" src="../assets/images/onboarding-images/JohnBianchi.png" alt="Profile image"> -->
		<p class="uppercase title-text">Profile Page</p>
	</div>
	<div class="menu flex items-center gap-4">
		<img class="header-icon w-8" src="/assets/images/onboarding-images/qr-icon.png" alt="QR icon">
		<img class="header-icon w-8" src="/assets/icon/hamburger.png" alt="Menu icon">
	</div>
</div>



<!-- User Bio -->
<div class="bg-patchwrq profile p-7 rounded-b-3xl bg-cover bg-center "
	style="background-image: url('../assets/images/onboarding-images/pw-background.jpg');">
	<div class="flex items-center">
		<img class="w-20" alt="John Bianchi" src="../assets/images/onboarding-images/JohnBianchi.png" />
		<div class="ml-5">
			<p class="text-xl mb-4 text-white uppercase title-text">{{userFullName}}</p>
			<div class="grid grid-cols-4 top-1">
				<a href="https://www.facebook.com/john.bianchi221" target="blank" title="Facebook">
					<img class="w-8 h-8 mr-2" alt="Facebook logo" src="../assets/images/onboarding-images/Facebook.png" />
				</a>
				<a href="https://www.linkedin.com/in/bianchijohn/" target="blank" title="LinkedIn">
					<img class="w-8 h-8 mr-2" alt="LinkedIn logo" src="../assets/images/onboarding-images/Linkedin.tif.png" />
				</a>
				<a href="https://x.com/BTCJohnnyB" target="blank" title="Twitter X">
					<img class="w-8 h-8 mr-2" alt="Twitter X logo" src="../assets/images/onboarding-images/X.tif.png" />
				</a>
				<a href="https://www.instagram.com/bianchidoingthings/" target="blank" title="Instagram">
					<img class="w-8 h-8" alt="Instagram logo" src="../assets/images/onboarding-images/Instagram.tif.png" />
				</a>
			</div>
		</div>
	</div>
</div>



<!-- About -->
<div class="about-me 0 px-8 text-center py-10">
	<h1 class="font-bold text-sm uppercase text-center leading-10 title-text">About Me:</h1>
	<p class="pb-4 text-sm">
		Cupcake ipsum dolor sit amet macaroon jelly beans. Wafer danish biscuit shortbread chupa chups. Jelly tart jujubes biscuit cake pastry candy candy danish.
	</p>
	<p class="pb-4 text-sm">
		Pudding cheesecake toffee ice cream soufflé. Caramels sugar plum jelly cupcake gummi bears. Icing tiramisu halvah biscuit pie brownie chocolate cake jelly.
	</p>
</div>


<!-- Links -->
<div id="links">
	<div class="flex flex-col w-9/12 mx-auto mt-8 space-y-6 text-white">
		<button type="button" (click)="onLinkedInClick()"
			class="w-full truncate shadow-md text-center py-3 mt-0 mb-0 rounded-full mx-auto primary-button">
			LinkedIn
		</button>
		<button type="button" (click)="onPatchWRKClick()"
			class="w-full truncate shadow-md text-center py-3 mt-0 mb-0 rounded-full mx-auto primary-button">
			PatchWRQ Site
		</button>
		<button type="button" (click)="onQuestAppClick()"
			class="w-full truncate shadow-md text-center py-3 mt-0 mb-0 rounded-full mx-auto secondary-button">
			Quest App
		</button>
		<button type="button"
			class="w-full truncate shadow-md text-center py-3 mt-0 mb-0 rounded-full mx-auto tertiary-button">
			Button 4
		</button>
	</div>
</div>



<!-- User Badge -->
<div id="badges" class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
	<div id="badgesQuests" class="flex flex-col items-center">
		<div
			class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white badge">
			<div class="absolute inset-0 flex items-center justify-center">
				<div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
			</div>
			<div class="text-center w-full text-white z-30">
				<div class="text-center w-full text-white z-30">
					<a href="#" title="quest badge"> <img class="w-auto h-14 mt-2 mx-auto"
							src="../assets/images/onboarding-images/quest.png" alt="quest badge" /></a>
				</div>
			</div>
		</div>
		<p class="text-center text-sm pt-1 w-full">My Quest</p>
	</div>

	<div id="badgesMine" class="flex flex-col items-center">
		<div
			class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white badge">
			<div class="absolute inset-0 flex items-center justify-center">
				<div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
			</div>
			<div class="text-center w-full text-white z-30">
				<a href="#" title="my badges"> <img class="w-auto h-12 mx-auto mt-3"
						src="../assets/images/onboarding-images/badges.png" alt="badges" /></a>
			</div>
		</div>
		<p class="text-center text-sm pt-1 w-full">My Badges</p>
	</div>

	<div id="badgesRewards" class="flex flex-col items-center">
		<div
			class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white badge">
			<div class="absolute inset-0 flex items-center justify-center">
				<div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
			</div>
			<div class="text-center w-full text-white z-30">
				<div class="text-center w-full text-white z-30">
					<a href="#" title="rewards badge"> <img class="w-auto h-16 mx-auto mt-3"
							src="../assets/images/onboarding-images/rewards.png" alt="rewards badge" /> </a>
				</div>
			</div>
		</div>
		<p class="text-center text-sm pt-1 w-full">My Rewards</p>
	</div>
</div>





<!-- Footer -->
<footer id="footer" class="text-white footer">
	<div class="mx-auto max-w-7xl overflow-hidden py-6 lg:px-8">
		<nav class="-mb-6 columns-1 text-center grid grid-cols-4" aria-label="Footer">
			<div class="pb-6">
				<a title="Home page" href="#" class="">
					<img alt="Home icon" class="w-8 h-auto mx-auto" src="../assets/icon/home-icon.png" alt="home icon" />
				</a>
			</div>
			<div class="pb-6">
				<a title="Events page" href="#" class="">
					<img alt="Events map icon" class="w-8 h-auto mx-auto" src="../assets/icon/events-icon.png"
						alt="events icon" />
				</a>
			</div>
			<div class="pb-6">
				<a title="Your profiles page" href="#" class="">
					<img alt="Profile id icon" class="w-8 h-auto mx-auto" src="../assets/icon/biotool.png" alt="biotool icon" />
				</a>
			</div>
			<div class="pb-6">
				<a title="Connections to freinds page" href="#" class="">
					<img alt="Connections comment chat icon" class="w-8 h-auto mx-auto" src="../assets/icon/connections-icon.png"
						alt="connections icon" />
				</a>
			</div>
		</nav>
	</div>
</footer>