<div class="mt-6 min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
        <h2 class="text-xl text-center font-bold mb-4">
            <span> Get User Pii </span>
        </h2>
        <form [formGroup]="getForm" (ngSubmit)="getPii()">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="userId">
                    <span>User ID</span>
                </label>
                <input formControlName="userId"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="userId" type="number" placeholder="Enter User ID" />
                <div
                    *ngIf="getForm?.get('userId')?.invalid && (getForm?.get('userId')?.dirty || getForm.get('userId')?.touched)">
                    <p class="text-red-500 text-xs italic">Valid User Id is required.</p>
                </div>
            </div>
            <button
                class="bg-red-400 hover:bg-red-500 rounded-full w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit" [disabled]="getForm && getForm.invalid">
                Get User Pii
            </button>
            <p>UserId: {{piiUserId}}</p>
            <p>Bio: {{bio}}</p>
        </form>
    </div>
</div>
