<p>trigger-landing works!</p>
<div data-theme="duke" >
<div class="relative m-2">
    <div class="flex">
      <!-- top container  -->
        <div class="grow rounded-t-3xl bg-accentLight pt-6 px-6">
        <h1 class="text-xl font-bold">Badge Name</h1>
        <p class="text-sm">Rewards: XYZ</p>
      </div>

      <div class="bg-accentLight rounded-tl-[1.6rem] rounded-tr-[1.6rem] rounded-br-[1.6rem]">
        <div class="inner-header p-6 rounded-3xl">
          <div class="flex items-center justify-center rounded-full p-4">
            <img class="w-10 h-10 absolute top-5 right-5 max-w-full overflow-hidden max-h-full z-[1]" alt="" src="/assets/images/icon/qr-icons/qr-icon-black.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="rounded-tr-3xl rounded-b-3xl bg-accentLight h-[450px]">
        <div class="h-48 w-48 m-auto rounded-full bg-accentDark"></div>
      <p class="mt-8 h-[50%] w-full rounded-b-3xl bg-accentLight p-5 text-sm border-t-1 border-inactive">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec malesuada ipsum. Nulla pulvinar nulla id suscipit egestas. Vivamus dapibus sapien libero, a bibendum nisi blandit id. Cras in lacus nec eros fermentum placerat ut finibus libero. Nulla convallis sapien ut velit placerat placerat. Curabitur at urna tempor, blandit orci id, ullamcorper ligula. Vestibulum eget orci in arcu mattis aliquam ut id lacus. In hac habitasse platea dictumst. "</p>
    </div>
  </div>
</div>


        