<!-- using ngx-qrcode2 -->
<h1>ngx-qrcode2</h1>
<ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
  cssClass="bshadow"></ngx-qrcode>

<!-- using angularx-qrcode -->
<h1>angularx-qrcode</h1>
<qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

<!-- customized css qrcode  -->
<h1>customized angularx-qrcode</h1>
<div class="qrcodeImage">
  <qrcode
    [qrdata]="myQrCode"
    [allowEmptyString]="true"
    [ariaLabel]="'QR Code image with the following content...'"
    [cssClass]="'right'"
    [errorCorrectionLevel]="'M'"
    [margin]="4"
    [scale]="1"
    [title]="'A custom title attribute'"
    [width]="256"
  ></qrcode>
</div>
