<p>qrcode-generate works!</p>
<p>&nbsp;</p>
<a href="https://cordobo.github.io/angularx-qrcode" target="_blank" title="">https://cordobo.github.io/angularx-qrcode</a>
<p>&nbsp;</p>
<a href="https://cordobo.com/2444-angular4-qrcode-generator-component" target="_blank" title="">
https://cordobo.com/2444-angular4-qrcode-generator-component</a>
<p>&nbsp;</p>

<a href="https://www.npmjs.com/package/angularx-qrcode" target="_blank" title="">https://www.npmjs.com/package/angularx-qrcode</a>
<p>&nbsp;</p>
Create an input for the string to be used to generate. Once we have that part working, we can build a tool around it.