

<div class="px-8">
    <div>
        <!--  This is the progress bar and stats link row -->
        <div left>
            <p class="uppercase text-lg mt-12 font-semibold">Quest 1</p>
            <p class="text-sm mt-3">Challenge 1 Details</p>
        </div>
        <div right>

        </div>

    </div>



    <div class="flex justify-between mt-2">
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/badges/exploreSm.png" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/badges/exploreSm.png" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/badges/meetSmInactive.png" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/badges/meetSmInactive.png" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/badges/meetSmInactive.png" />
        </div>
    </div>

    <!--  progress bar -->
    <!-- https://flowbite.com/docs/components/progress/ -->
    <div>
        <!--  This is the progress bar and stats link row -->
        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div style="width: 40%"
                class="bg-purple-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" > 
                40%</div>
        </div>
        <div class="text-right text-sm mt-4"><a href="#" title="Link to see Stats">Scores & More ></a></div>
    </div>


</div>