<div class="mt-6 min-h-screen">
	<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
		<h2 class="text-xl text-center font-bold mb-4">
			<span> Delete Event </span>
		</h2>
		<form [formGroup]="deleteForm" (ngSubmit)="deleteEvent()">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm mb-2" for="eventId">
					<span>Event ID</span>
				</label>
				<input formControlName="eventId"
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="eventId" type="number" placeholder="Enter Event ID" />
				<div
					*ngIf="deleteForm?.get('eventId')?.invalid && (deleteForm?.get('eventId')?.dirty || deleteForm.get('eventId')?.touched)">
					<p class="text-red-500 text-xs italic">Valid Event ID is required.</p>
				</div>
			</div>
			<button
				class="bg-red-400 hover:bg-red-500 rounded-full w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				type="submit" [disabled]="deleteForm && deleteForm.invalid">
				Delete Event
			</button>
		</form>
	</div>
</div>