<p>connection-card works!</p>

<div class="grid grid-cols-8 mt-4 gap-2"> 
    <div class="col-span-2 bg-secondary">
        <img class="mx-auto mt-10" src="/assets/images/ImgPlaceholder.svg" />
    </div>
    <div class="col-span-6 ring-1 ring-trimDark p-2">
        <p class="uppercase font-medium text-xs">
            first name last name
        </p>
        <p class="text-xs font-light">
            Lorum ipsum dolor sit amet, consecetur adipiscing eit, sed do eiusmod...
        </p>
        <div class="flex justify-between w-40">
            <div class="w-6 h-6 my-auto rounded-full bg-accentLight"></div>
            <div class="w-6 h-6 my-auto rounded-full bg-accentLight"></div>
            <div class="w-6 h-6 my-auto rounded-full bg-accentLight"></div>
            <div class="w-6 h-6 my-auto rounded-full bg-accentLight"></div>
            <div class="w-6 h-6 my-auto rounded-full bg-accentLight"></div>
        </div>
    </div>
</div>