<div class="flex items-center justify-center min-h-screen">
	<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
		<h1 class="text-lg font-bold text-center mb-3"><span>PII DETAILS</span></h1>
		<form [formGroup]="piiForm" (ngSubmit)="onSubmit($event)">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm mb-2" for="date_of_birth">
					<span>Date of Birth</span>
				</label>
				<input formControlName="date_of_birth"
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="date_of_birth" type="date" placeholder="Enter Date of Birth">
				<div
					*ngIf="piiForm && piiForm?.get('date_of_birth')?.invalid && (piiForm?.get('date_of_birth')?.dirty || piiForm?.get('date_of_birth')?.touched)">
					<p class="text-red-500 text-xs italic">Date of Birth is required.</p>
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm mb-2" for="gender">
					<span>Gender</span>
				</label>
				<input formControlName="gender"
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="gender" type="text" placeholder="Enter your gender">
				<div
					*ngIf="piiForm && piiForm?.get('gender')?.invalid && (piiForm?.get('gender')?.dirty || piiForm?.get('gender')?.touched)">
					<p class="text-red-500 text-xs italic">Gender is required.</p>
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm mb-2" for="marital_status">
					<span>Marital Status</span>
				</label>
				<input formControlName="marital_status"
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="marital_status" type="text" placeholder="Enter your marital status">
				<div
					*ngIf="piiForm && piiForm?.get('marital_status')?.invalid && (piiForm?.get('marital_status')?.dirty || piiForm?.get('marital_status')?.touched)">
					<p class="text-red-500 text-xs italic">Marital status is required.</p>
				</div>
			</div>
			<div class="mb-6">
				<label class="block text-gray-700 text-sm mb-2" for="biography">
					<span>Biography</span>
				</label>
				<textarea formControlName="biography"
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="biography" placeholder="Enter Biography" rows="4"></textarea>
				<div
					*ngIf="piiForm && piiForm?.get('biography')?.invalid && (piiForm?.get('biography')?.dirty || piiForm?.get('biography')?.touched)">
					<p class="text-red-500 text-xs italic">Biography is required.</p>
				</div>
			</div>
			<div class="flex items-center justify-between">
				<button
					class="bg-gray-400 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
					type="submit" [disabled]="piiForm && piiForm.invalid">
					Create Pii
				</button>
			</div>
		</form>
	</div>
</div>