<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Generate Follow QR Code</h2>
    <form (ngSubmit)="generateQrCode()" class="space-y-4">
      <div class="mb-4">
        <label class="block text-gray-700">Instagram Handle(Ex - i.am.sid17)</label>
        <input type="text" [(ngModel)]="instagramHandle" name="instagramHandle" required class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Caption</label>
        <input type="text" [(ngModel)]="caption" name="caption" required class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
      </div>
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Generate QR Code</button>
    </form>
    <div *ngIf="qrData" class="mt-4">
      <div id="qrCodeWithCaption" class="flex flex-col items-center">
        <ngx-qrcode [value]="qrData"></ngx-qrcode><br/>
        <div>{{ caption }}</div>
      </div>
    </div>
    <div *ngIf="qrCodeImage" class="mt-4">
      <h3 class="text-xl font-bold mb-2">Generated QR Code with Caption:</h3>
      <img [src]="qrCodeImage" alt="QR Code" class="mx-auto">
    </div>
  </div>

  <!-- <div>
    <input [(ngModel)]="caption" placeholder="Enter caption for QR code" />
    <button (click)="generateQRCode()">Generate QR Code</button>
    <div *ngIf="qrCodeImageUrl">
      <img [src]="qrCodeImageUrl" alt="Generated QR Code" />
      <p>{{ caption }}</p>
    </div>
    <button (click)="saveQRCode()">Save QR Code</button>
  </div> -->

  <button type="button" (click)="goToDisplayQR()" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Display Saved QR Code</button>

  