<p>profile-display works!</p>

<p>Please grab to user ID from the loader, such as 105, or 106.</p>
    <p>&nbsp;</p><hr><p>&nbsp;</p>
<p>Then display the user name, the email in this section. And later the User Image as an avator.</p>
    <p>&nbsp;</p><hr><p>&nbsp;</p>
<p>Then display the user's social media icons, properly linked, in this section.</p>
    <p>&nbsp;</p><hr><p>&nbsp;</p>
<p>Then display the user's bio in this section.</p>
    <p>&nbsp;</p><hr><p>&nbsp;</p>
<p>Then display the user's web links, properly linked, in this section.</p>
    <p>&nbsp;</p>