body {
	height: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	border-right: #000 2px solid;
	border-left: #000 2px solid;
	background-color: #F5F5F5;
}

.about-me {
	border-top: 3px solid #FFFFFF;
	box-sizing: border-box;
}

/***** THEME *****/
.theme-header .title-text,
.profile .title-text,
.about-me .title-text,
.badges {
	font-family: "Roboto Slab", serif;
}
/* 
.about-me,
button {
	font-family: 'Tenor Sans', sans-serif;
} */