body {
	height: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	border-right: #000 2px solid;
	border-left: #000 2px solid;
	background-color: #F5F5F5;
}

label {
	position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}