<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
        <h1 class="text-lg font-bold text-center mb-3"><span>BADGE DETAILS</span></h1>
        <form [formGroup]="badgeForm" (ngSubmit)="onSubmit($event)">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="badge_name">
                    <span>Badge Name</span>
                </label>
                <input formControlName="badge_name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="badge_name" type="text" placeholder="Enter Badge Name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="badge_description">
                    <span>Badge Description</span>
                </label>
                <input formControlName="badge_description"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="badge_description" type="text" placeholder="Enter badge description">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="small_image_color">
                    <span>Small Image Color</span>
                </label>
                <input formControlName="small_image_color"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="small_image_color" type="text" placeholder="Enter small image color">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="small_image_greyscale">
                    <span>Small Image Greyscale</span>
                </label>
                <input formControlName="small_image_greyscale"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="small_image_greyscale" type="text" placeholder="Enter small image Greyscale">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="big_image">
                    <span>Big Image</span>
                </label>
                <input formControlName="big_image"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="big_image" type="text" placeholder="Enter big image">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm mb-2" for="org_id">
                    <span>Org Id</span>
                </label>
                <input formControlName="org_id"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="org_id" type="text" placeholder="Enter org id">
            </div>
            <div
                *ngIf="badgeForm && badgeForm?.get('org_id')?.invalid && (badgeForm.get('org_id')?.dirty || badgeForm.get('org_id')?.touched)">
                <p class="text-red-500 text-xs italic">Org Id is required.</p>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gray-400 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
                    type="submit" [disabled]="badgeForm && badgeForm.invalid">
                    Create Badge
                </button>
            </div>
        </form>
    </div>
</div>
