<div class="items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
        <h1 class="text-lg font-bold text-center mb-3"><span>CHOOSE OPTION</span></h1>
        <button
            class="bg-gray-400 mb-3 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
            type="button" (click)="onGetQuests()">
            Get All Quests
        </button>
        <button
            class="bg-gray-400 mb-3 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
            type="button" (click)="onCreateQuests()">
            Create Quests
        </button>
        <button
            class="bg-gray-400 mb-3 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
            type="button" (click)="onUpdateQuests()">
            Update Quests
        </button>
    </div>
</div>