<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
        <h1 class="text-lg font-bold text-center mb-3"><span>PROFILE LOADER</span></h1>
        <div class="text-lg font-semibold text-center mb-3" *ngIf="id > 0">{{profileInitials}} , {{id}}</div>
        <div class="text-lg font-semibold text-center mb-3">{{theme}}</div>
        <div class="text-lg font-semibold text-center mb-3">{{givenName}}</div>
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit($event)">
            <div class="mb-4">
                <input formControlName="userId"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="userId" type="text" placeholder="Enter User Id">
                <div
                    *ngIf="inputForm && inputForm.get('userId')?.invalid && (inputForm.get('userId')?.dirty || inputForm.get('userId')?.touched)">
                    <p class="text-red-500 text-xs italic">User Id is required.</p>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gray-400 hover:bg-gray-500 w-full text-white py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
                    type="submit" [disabled]="inputForm && inputForm.invalid">
                    Load Profile
                </button>
            </div>
            <mat-accordion>
                <div *ngIf="bio != ''">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Bio</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Bio: {{bio}}</p>
                    </mat-expansion-panel>

                </div>
                <div *ngIf="linksS.length > 0">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>S Links</mat-panel-title>
                        </mat-expansion-panel-header>
                        <li *ngFor="let link of linksS | slice:0:4"><img class="image"
                                [src]="showImage(link.url_label)">{{ link.link_type }}
                            , {{link.url_link}}</li>
                        <div *ngIf="linksS.length > 4">
                            <p>+ {{linksSAdjusted}} more</p>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div *ngIf="linksW.length > 0">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>W Links</mat-panel-title>
                        </mat-expansion-panel-header>
                        <li *ngFor="let link of linksW | slice:0:3">{{ link.link_type }}
                            , {{link.url_link}}</li>
                        <div *ngIf="linksW.length > 3">
                            <p>+ {{linksWAdjusted}} more</p>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </form>
        <div *ngIf="bio != '' || linksS.length > 0 || linksW.length > 0">
            <input type="image" src="./../../../assets/images/scan_me_qr_code.jpg" class="w-16 h-22 ml-36" (click)="generateQrCode()"/>
            <div *ngIf="qrData" class="mt-4">
                <div id="qrCodeWithCaption" class="flex flex-col items-center">
                    <ngx-qrcode [value]="qrData"></ngx-qrcode>
                    <!-- <div class="mt-[-18px] text-[14px] text-gray-700 font-bold">{{ caption }}</div> -->
                </div>
            </div>
        </div>
    </div>
</div>