<p>create-trigger works!</p>
Quest Landing


<div class="p-7 bg-cover bg-center bg-[#fdfdfd]">
    <div>
        <div class="mt-24 px-12 text-[#333333] text-4xl font-black text-center">
            <h1>My Quests</h1>
        </div>
        <div class="text-[#333333] text-[60px] font-medium text-center">
            <p>0</p>
        </div>
        <div class=" text-[#333333] text-center uppercase">
            <p>Quests Completed</p>
        </div>
    </div>
    <div class=" columns-2 mt-12">
        <div class="text-center p-4 border-1 border-[#333333]">
        <p class="text-[#999999] text-4xl">0</p>
        <p>Quest in Progress</p>
        </div>
        <div class="text-center p-4 border-1 border-[#333333]">
        <p class="text-[#999999] text-4xl">0</p>
        <p>Rewards Redeemed</p>
        </div>
    </div>
    <div class=" border-1 border-[#333333]">
      <p class=" uppercase">
        Start your first Quest by scanning a QR code
      </p>
      
    </div>

  
  
  
  
  <!-- <div class="bg-main min-h-[630px] -mb-5"> -->
  <!-- Links -->
  <!-- <div class="flex flex-col w-9/12 mx-auto mt-8 gap-3">
    <button type="button" (click)="onFirstButtonClick()"
      class="shadow-md text-center py-3 rounded-full border-1 bg-primary text-infoLight" >
      {{links[0]}}
    </button>
  </div>
   <div class="flex flex-col w-9/12 mx-auto mt-8 gap-3">
    <button type="button" (click)="onSecondButtonClick()"
      class="shadow-md text-center py-3 rounded-full border-1 bg-secondary text-infoLight" >
      {{links[1]}}
    </button>
  </div>
  
  <div class="flex flex-col w-9/12 mx-auto mt-8 gap-3">
    <button type="button" (click)="onThirdButtonClick()"
      class="shadow-md text-center py-3 rounded-full border-1 border-trimDark bg-tertiary text-info" >
      {{links[2]}}
    </button>
  </div>
  
  <div class="flex flex-col w-9/12 mx-auto mt-8 gap-3">
    <button type="button" (click)="onFourthButtonClick()"
      class="shadow-md text-center py-3 rounded-full bg-inactive font-light" >
      {{links[3]}}
    </button>
  </div> --> 


    <!-- Badges section, this needs to be made into a presentational component -->
    <div class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 pb-10">
      <div class="flex flex-col items-center">
          <div
              class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-secondary ring-2 ring-trimLight">
              <div class="absolute inset-0 flex items-center justify-center">
                  <div class="w-6 h-6 bg-main blur-md rounded-full"></div>
              </div>
              <div class="text-center w-full text-infoLight z-30 p-6"> <img alt="My Quest"
                      src="/assets/images/icon/quest-icons/quest-icon-white.svg" /></div>
          </div>
          <p class="text-center pt-1 w-full">My Quest</p>
      </div>
      <div class="flex flex-col items-center">
          <div
              class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-secondary ring-2 ring-trimLight">
              <div class="absolute inset-0 flex items-center justify-center">
                  <div class="w-6 h-6 bg-main blur-md rounded-full"></div>
              </div>
              <div class="text-center w-full text-infoLight z-30 p-6"><img alt="My Badges"
                      src="/assets/images/icon/quest-icons/badges-icon-white.svg" /></div>
          </div>
          <p class="text-center pt-1 w-full">My Badges</p>
      </div>
      <div class="flex flex-col items-center">
          <div
              class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-secondary ring-2 ring-trimLight">
              <div class="absolute inset-0 flex items-center justify-center">
                  <div class="w-6 h-6 bg-main blur-md rounded-full"></div>
              </div>
              <div class="text-center w-full text-infoLight z-30 p-6"><img alt="My Rewards"
                      src="/assets/images/icon/quest-icons/rewards-icon-white.svg" /></div>
          </div>
          <p class="text-center pt-1 w-full">My Rewards</p>
      </div>
    </div> 

  </div>



